{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>{{ topic }}</h1>
    <form method="post">
        {% csrf_token %}
        {%for field in form%}
            <li>
                {{ field.label }}
                {{ field }}
            </li>
        {% endfor %}
    </form>
    <ul>
        <li>HP -- <span id="hp">0</span></li>
        <li>IQ -- <span id="iq">0</span></li>
        <li>HAPPI INDEX -- <span id="happi_index">0</span></li>
    </ul>

    <button onclick="all_actions('eat')">Поесть</button>
    <button onclick="all_actions('study')">Поучиться</button>
    <button onclick="all_actions('sleep')">Поспать</button>
    <button onclick="all_actions('happi')">Поиграть</button>
    <button>Сохранение</button>

{% endblock %}


{% block extended_js %}
<script src="{% static 'clicker.js' %}"></script>
{% endblock %}