{% extends 'base.html' %}
{% block content %}
    <div class="container mt-5">
        <h1>History of expressions</h1>
            {% if request.user.is_authenticated %}
                <table class="table table-bordered border-primary border-3">
                    <thead class="table-info">
                        <tr>
                            <th>Exp</th>
                            <th>Answer</th>
                            <th>Date</th>
                            <th>Author</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for item in all_obj %}
                            <tr>
                                <td>{{ item.res }}</td>
                                <td>{{ item.solution }}</td>
                                <td>{{ item.create_at }}</td>
                                <td>{{ item.author.username }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
               </table>
            {% endif %}
        <nav>
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="Первая">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Предыдущая">
                            <span aria-hidden="true">&lsaquo;</span>
                        </a>
                    </li>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                    <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Следующая">
                            <span aria-hidden="true">&rsaquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Последняя">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
                </ul>
        </nav>
    </div>
{% endblock %}