<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">SuperSite</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/time/">Time</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/calc/">Calc</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/comment/">Comment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/riddle/">Riddle</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/answer/">Answer</a>
        </li>

        {% if request.user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Secret menu
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/multiply/">Multiply</a></li>
                <li><a class="dropdown-item" href="/expression/">Expression</a></li>
                <li><a class="dropdown-item" href="/history/">History expression</a></li>
                  <li><a class="dropdown-item" href="/clicker/">Student life</a></li>
              </ul>
      </ul>
          <div class="badge text-bg-secondary text-wrap" style="width: 6rem;margin-right: 8px;">
              (user: {{ request.user.username }})
          </div>
        <button class="btn btn-warning" type="button" onclick="window.location.href='/logout'">Выход</button>
      {% else %}
        <button class="btn btn-warning" type="button" onclick="window.location.href='/login'">Вход</button>
      {% endif %}
    </div>
  </div>
</nav>